hw6/cifar-10-batches-py/data_batch_1
hw6/cifar-10-batches-py/data_batch_2
hw6/cifar-10-batches-py/data_batch_3
hw6/cifar-10-batches-py/data_batch_4
hw6/cifar-10-batches-py/data_batch_5
hw6/cifar-10-batches-py/test_batch
hw6/xtest.pkl
hw6/xtrain.pkl
hw6/ytest.pkl
hw6/ytrain.pkl
hw6/cifar-10-python.tar.gz
hw6/drive-download-20211105T051232Z-001.zip
hw6/cifar-10-batches-py/batches.meta
hw6/cifar-10-batches-py/readme.html
Project/~$oposal.docx
Project/~WRL3403.tmp
Project/~$structions for Machine Learning Project 2021.docx
